// app global css in Stylus form
$primary        = #004d92
$primary-2      = #3F51B5
$primary-light  = #C5CAE9
$primary-dark   = #303F9F
$accent         = #FF9800
$secondary      = #9C27B0

$primary-text   = #212121
$secundary-text = #757575
$divider        = #bdbdbd
$icon-text      = #FFFFFF

$dark           = #1D1D1D

$positive       = #21BA45
$negative       = #C10015
$info           = #31CCEC
$warning        = #F2C037
